/* Edit */
/* Fix edit spacing */
.edit-container {
    max-width: 520px;
    margin: 150px auto;
    padding: 20px 0 30px;
    background: #e3efe8;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    height: auto;
}

    .edit-container form {
        margin: 0 auto;
        padding: 10px 30px 30px;
        background: transparent;
        box-shadow: none;
    }

.header-frame {
    margin-bottom: 6px;
}
