/* Member List */
.list-container {
    max-width: 1500px;
    margin: 40px auto;
    padding: 30px;
    background: #e3efe8;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    font-family: Century Gothic, 'Avantgarde';
}


.header-frame {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.header-icon {
    font-size: 22px;
    color: forestgreen;
}

.header-text {
    font-size: 20px;
    font-weight: 700;
    color: forestgreen;
    letter-spacing: 1px;
}

.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.search-form {
    display: flex;
    gap: 10px;
}

.search-input {
    padding: 8px;
    width: 150px;
    border-radius: 6px;
    border: 1px solid #b7d7be;
}

.btn-search {
    padding: 10px 30px;
    border-radius: 6px;
    background: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-create {
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: 600;
    background: #fff;
    color: #4caf50;
    text-decoration: none;
    border: 2px solid #4caf50;
}

    .btn-create:hover {
        background: #4caf50;
        color: #fff;
    }

.table-wrapper {
    overflow-x: auto;
    margin-top: 10px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
}

    .styled-table thead th {
        background: #A1BC98;
        color: #333;
        font-weight: 50;
        padding: 10px;
        text-align: left;
    }

    .styled-table tbody td {
        padding: 11px;
        border-bottom: none;
        font-weight: 10;
        padding: 2px;
        color: #333;
    }

    .styled-table tbody tr:hover {
        outline: 1px solid #A1BC98; /* Outline color and thickness */
        outline-offset: -3px; /* Optional: makes the outline snug around the row */
        background: none; /* Ensure background stays unchanged */
    }


.actions {
    display: flex;
    gap: 1px;
    justify-content: center;
    align-items: center;
    white-space: nowrap; /* prevents wrapping into multiple lines */
}

.action-icon {
    color: #4caf50;
    font-size: 16px;
    text-decoration: none;
    padding: 5px;
    border-radius: 6px;
    transition: all 0.2s ease-in-out;
}


.no-data {
    text-align: center;
    padding: 20px;
    color: #777;
    font-style: italic;
}

.result-count {
    margin-bottom: 8px;
    font-size: 0.9rem;
    color: #555;
}