@model MemberManagement.Web.ViewModels.Member.EditMemberVM
@section Styles {
    <link rel="stylesheet" href="~/css/member/Edit.css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Edit Member";
}

<div class="create-page">
    <div class="create-container">
        <div class="header-frame">
            <i class="header-icon fa fa-users"></i>
            <div class="header-text">UPDATE MEMBER</div>
        </div>

        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="MemberID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <i class="fa fa-user"></i>
                <input asp-for="FirstName" placeholder=" " />
                <label asp-for="FirstName"></label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <i class="fa fa-user"></i>
                <input asp-for="LastName" placeholder=" " />
                <label asp-for="LastName"></label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <i class="fa fa-calendar"></i>
                <input asp-for="BirthDate" type="date" placeholder=" " />
                <label asp-for="BirthDate"></label>
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <i class="fa fa-home"></i>
                <input asp-for="Address" placeholder=" " />
                <label asp-for="Address"></label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <i class="fa fa-building"></i>
                <input asp-for="Branch" placeholder=" " />
                <label asp-for="Branch"></label>
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>

            <div class="form-group">
                <i class="fa fa-phone"></i>
                <input asp-for="ContactNo" placeholder=" " />
                <label asp-for="ContactNo"></label>
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <i class="fa fa-envelope"></i>
                <input asp-for="Email" type="email" placeholder=" " />
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="button-row">
                <button class="btn-save" type="submit">Save Changes</button>
                <a class="btn-cancel" asp-action="MemberListPage">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
