<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MemberManagement.Web.styles.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)

    <style>
        /* Sidebar specific styles */
        .sidebar {
            width: 220px;
            position: fixed;
            height: 100vh;
        }

            .sidebar .btn-toggle {
                display: flex;
                width: 100%;
                padding: 0.5rem 1rem;
                text-align: left;
            }

            .sidebar .btn-toggle-nav {
                padding-left: 1rem;
            }

        .main-content {
            margin-left: 220px;
            flex-grow: 1;
            padding: 1rem;
        }
    </style>
</head>
<body>
    <header>
        @* Header navbar is commented out, leaving as is *@
    </header>

    <div class="d-flex">
        @* Sidebar Partial or inline markup *@
        <nav class="sidebar bg-light border-end">
            <div class="p-3">
                <h4>Member Management</h4>
            </div>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <a asp-controller="Member" asp-action="MemberListPage" class="btn btn-toggle align-items-center rounded">
                        Members
                    </a>
                </li>
                <li class="mb-1">
                    <a asp-controller="BranchD" asp-action="Index" class="btn btn-toggle align-items-center rounded">
                        Branches
                    </a>
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            @* <a asp-controller="BranchD" asp-action="Create" class="link-dark rounded">Add New Branch</a> *@
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

        @* Main content area *@
        <div class="main-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    @* Footer is commented out, leaving as is *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
